<!-- main page -->
<div class="main-container">
    
    <img src="/images/background.png" alt="banner">
    <div class="text-overlay">
        <h1>Welcome to Authentication App!!</h1>
        <p>Login to an existing account or register if you don't have an account.</p>
    </div>
    

    <div class="buttons">
    <a href="/login" class="btn btn-primary custom-btn">Login</a>
    <br>
    <a href="/register" class="btn btn-primary custom-btn">Register</a>
    </div>
 
</div>

