<!-- Mail sent page -->
<div class="text-overlay">
    <h1>Mail Sent Successful!!</h1>
    <p>Kindly check your mail for resetting the password</p>

    <hr>
    <p><a href="/login" class="link-info">Back to Login </a></p>
</div>