<form action="/reset-password/<%= token %>" method="post">
        <input type="hidden" name="token" value="<%= token %>">

        <div class="login-container">

            
<% if (errorMessage) { %>
    <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
    </div>
<% } %>


<h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2> 

<div class="mb-3">
    <div class="input-group ">
      <span class="input-group-text">New Password:</span>
      <input required="" name="newPassword" type="password" aria-label="newpassword" class="form-control" placeholder="enter your new password">
    </div>
  </div>

  <div class="input-group ">
    <span class="input-group-text">Confirm Password:</span>
    <input required="" name="confirmPassword" type="password" aria-label="confirmPassword" class="form-control" placeholder="confirm your new password">
  </div>


  <button type="submit" class="btn btn-md mt-2 lbtn login-button">Reset Password</button>



</div>
</form>
 