<div class="text-overlay">
    <h1>Hurray!! Password reset successful</h1>
    <p>You can now go to the login page.</p>

    <div class="logout-buttons">
        <a href="/login" class="btn btn-primary custom-btn">Login</a>

</div>