<div class="text-overlay">
        <h1>Hello!!</h1>
        <h1>Welcome to Authentication App!!</h1>

        <div class="logout-buttons">
            <a href="/reset-password" class="btn btn-primary custom-btn">Reset Password</a>
            <br>
            <a href="/logout" class="btn btn-primary custom-btn">Log Out</a>
            </div>
    </div>